apiVersion: v1
kind: Secret
metadata:
  name: wordpress-secret
type: Opaque
data:
  mysql-database-name: <BASE64_DATABASE_NAME>
  mysql-user-password: <BASE64_PASSWORD>
  mysql-root-password: <BASE64_ROOT_PASSWORD>